[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parsley = "*"
lxml = "*"
pavlova = "*"
ietfdata = "*"
requests = "*"
e1839a8 = {path = "."}
npt = {editable = true, path = "."}
scapy = "*"

[dev-packages]
mypy = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "make clean test"
