[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-slugify="*"
lark = "*"
parsley = "*"
lxml = "*"
pavlova = "*"
ietfdata = ">=0.5.0"
requests = "*"
scapy = "*"
mypy = "*"
jinja2 = "*"
spacy = "3.3.0"
en_core_web_sm = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz' }

[dev-packages]
npt  = {editable = true, path = "."}
npt2 = {editable = true, path = "."}
mypy = "*"
pytest = "*"
coverage = "*"
types-python-slugify="*"
types-requests = "*"
typed-ast = "*"

[requires]
python_version = "3.9"

[scripts]
tests = "make clean test"
