[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parsley = "*"
lxml = "*"
pavlova = "*"
ietfdata = ">=0.5.0"
requests = "*"
scapy = "*"
mypy = "*"
jinja2 = "*"
types-requests = "*"
typed-ast = "*"

[dev-packages]
mypy = "*"
pytest = "*"
coverage = "*"
npt = {editable = true, path = "."}

[requires]
python_version = "3.9"

[scripts]
tests = "make clean test"
